.roller, .modifiers, .results {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    display: grid;
    color: white;
    grid-gap: 1em;
}

.roller {
    background-color: mediumseagreen;
    grid-template-columns: repeat(2, 1fr) repeat(2, 0.5fr);
}

.roller>div {
    text-align: center;
}

.roller>button {
    place-self: center;
    padding: 10px;
    border-radius: 50%;
    font-size: x-large;
    border: 2px solid darkgoldenrod;
    background-color: goldenrod;
    color: white;
    font-weight: bold;
}

.roller input[type="number"] {
    text-align: center;
    width: 50px;
    background-color: transparent;
    color: white;
    font-size: large;
    font-weight: bold;
    border: 1px solid white !important;
    border-radius: 10px;
    padding: 5px 5px 5px 15px;
}

.roller input[type="number"]:focus {
    outline: none;
}

.or-higher {
    display: inline-block;
    position: relative;
    left: -33px;
    top: -2px;
    font-weight: bold;
}

.modifiers {
    background-color: darkred;
    grid-template-columns: repeat(2, 1fr);
}

.modifiers>div {
    padding: 0 30px;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.values-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

.results {
    background-color: lightskyblue;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.roll {
    display: inline-block;
    margin-right: 0.5em;
}

.critical, .success, .failure {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.roll .critical {
    color: gold;
    -webkit-text-fill-color: gold;
}

.roll .success {
    color: lawngreen;
    -webkit-text-fill-color: lawngreen;
}

.roll .failure {
    color: red;
    -webkit-text-fill-color: red;
}